# Frontend (exposed to the browser at build time)
VITE_SUPABASE_URL=
VITE_SUPABASE_PUBLISHABLE_KEY=

# Vercel API Function
SUPABASE_URL=
SUPABASE_PUBLISHABLE_KEY=
DATABASE_URL=